body {
  box-sizing: border-box;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg {
  position: fixed;
  width: 100%;
  z-index: -1;
 

}
header {
  text-align: left;
  width: 100%;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 49px;
  padding: 20px 20px;
}
header nav ul {
  position: relative;
  list-style-type: none;
  display: flex;
}

.himg {
  width: 40px;
  display: inline-block;
  margin: 30px;
}

/* ---------------------------------------------------*/

#intro {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
}
#intro .intro-img {
  padding: 80px 20px;

  /* border: 4px solid black; */
}

#intro .intro-img img {
  align-items: center;
}
#intro h2 {
  font-size: 36px;
  text-align: left;
  margin-left:15% ;
}
#intro .intro-text{
  text-align: center;
 /* background-color: lavender;  */
    border: 3px solid white;
    border-radius: 30px;
}

#intro h2 span {
  color: orange;
  font-size: 1.5em;
}

#intro p {
  font-size: 29px;
}

/*-------------------------------------------------*/

.skill h2{
  text-align: left;
  margin-left: 6%;
}
.skill {
  padding: 30px 10px;
  background-color: hsl(210, 32%, 85%);
  font-size: 30px;
  /* border: 3px solid hsl(211, 43%, 74%); */
  border-radius: 30px;
  text-align: center;
  width: 70%;
  margin-left: 17%;
}
.skill span {
  font-size: 39px;
}
.skill ul{
  text-align: left;
  line-height: 30px;
}

/*-------------------------------------------------*/

.form h2 {
  text-align: center;
}
.form {
  background-color: rgba(210, 222, 222, 0.273);
  text-align: center;
  margin-left: 30%;
  padding: 10px 20px ;
  border : 3px solid slategrey;
  border-radius: 30px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  

}
form input{
    font-size: 28px;
    text-align: center;
    border: 3px solid rgba(231, 223, 223, 0.919);
    border-radius: 30px;
     margin:20px 0;
    padding: 10px 20px ;
}

button img{
    width: 40px;
    /* background-color: white;
    border: 1px solid white; */
}


footer {
  left: 0;
  bottom: 0;
  right: 0;
 
}
footer .socials {
  background-color: rgb(227, 227, 227);
  position: relative;
  align-items: center;
}
footer .socials img {
  width: 40px;
  display: inline-block;
  margin: 40px;
  margin-bottom: 0%;
}
footer .socials ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.socials p {
  font-size: 24px;
  text-align: center;
}
